@tailwind base;

a {
  @apply text-blue-700;
}

a:hover {
  @apply text-blue-400;
}

@tailwind components;

@tailwind utilities;

.main-content {
  min-height: calc(100vh - theme('height.24') - 2px);
}
.logo{
  width:80px;
  height:40px;
  #eakz {
    fill:red
  }
}
